<!doctype html>
<html>

  <head>
    <%= title_tag %>
    <%= assets_tags %>
    <%= meta_informations_tags %>
  </head>

  <%= body_tag do %>

    <main>
      <%= admin_navigation %>
      <header>
        <h1><%= link_to 'E', '/' %></h1>
        <nav>
          <%= link_to 'Customize', '/customize' %>
          <% if !signed_in? %>
            <%= link_to 'Log in', new_session_path %>
          <% end %>
        </nav>
      </header>

      <article>
        <%= yield %>
      </article>

      <footer>
      </footer>
    </main>

  <% end %>
</html>


