<!doctype html>
<html>

  <head>
    <%= title_tag %>

    <%= javascript_include_tag "ecrire", "application", "data-turbolinks-track" => true %>

    <%= stylesheet_link_tag "browser", media: "(min-width: 1025px)", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "tablet", media: "(min-width: 641px) and (max-width: 1024px)", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "mobile", media: "(max-width: 640px)", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>

    <%= favicon_tag %>
    <%= rss_tag %>
  </head>

  <body>
    <%= main_tag do %>

      <%= admin_navigation %>
      <header>

        <nav>
          <h1><%= link_to 'E', '/' %></h1>

          <ol>
            <li><%= link_to 'Customize', '/customize' %></li>

            <% if !signed_in? %>
              <li><%= link_to 'Log in', new_session_path %></li>
            <% end %>
          </ol>
        </nav>

      </header>

      <article>
        <%= yield %>
      </article>

    <% end %>
  </body>
</html>
