<div class='overlay' as='Overlay'>
  <%= content_tag :div, class: %w(popup), as: 'Post.Title', href: admin_post_titles_path(post), method: 'POST' do %>
    <div class='progressbar'>
      <span class='progress'></span>
    </div>
    <h3>Create a new title</h3>
    <%= content_tag :div, '', contenteditable: true, class: %w(input) %>
    <ul class='errors'></ul>
    <p>Press Enter to update, or dismiss the dialog to cancel.</p>
    <p>For SEO & accessibility reason, you cannot edit previous post title for a published post. You can create a new title that will be the default one.</p>
    <p><strong> All previous URL will redirect to the default newest URL.</strong></p>
    <ul class='titles'>
      <h4>Existing titles</h4>
      <% post.titles.each do |title| %>
        <%= content_tag :li do %>
          <p class='title'><%= content_tag :strong, title.name %></p>
          <%= content_tag :p, post_path(post, title: title, only_path: false), class: %w(url) %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
