<!DOCTYPE html>
<html>
<head>
  <title>Ecrire</title>
  <link rel="shortcut icon" href="<%= url_for("/favicon.ico")%>" />
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, class: %W(#{action_name} #{controller_name}) do %>

  <main>
    <%= content_tag :nav, id: 'Menu', class: ['admin', controller_name] do %>
      <section>
        <div class='back'>
          <%= link_to 'Home', :root %>
        </div>
        <div class='posts'>
          <h4>
            <%= link_to 'New post', new_title_admin_posts_path, class: %w(new button) %>
          </h4>
          <%= link_to admin_posts_path(type: :draft), class: %w(drafts), remote: true, as: 'Posts.Popup' do %>
            <span class='type'>Drafts</span>
            <%= content_tag :span, posts.drafted.count, class: %w(count) %>
          <% end %>

          <%= link_to admin_posts_path(type: :published), class: %w(drafts), remote: true, as: 'Posts.Popup' do %>
            <span class='type'>Published</span>
            <%= content_tag :span, posts.published.count, class: %w(count) %>
          <% end %>
        </div>
      </section>

      <%= yield :menu %>
      <%= button_to t("admin.navigation.logout"), session_path, method: :delete, class: %w(logout), form_class: %w(form logout) %>
    <% end %>

    <%= yield %>
  </main>

<% end %>
</html>
