<!DOCTYPE html>
<html>
  <head>
    <title>Ecrire</title>
    <link rel="shortcut icon" href="<%= image_url("favicon.ico")%>" />
    <%= stylesheet_link_tag    "admin", media: "all" %>
    <%= javascript_include_tag "admin", 'data-turbolinks-track' => "reload" %>
    <%= csrf_meta_tags %>
  </head>
  <%= content_tag :body, class: [action_name, controller_name] do %>
    <nav id='AdminNavigation'>
      <%= link_to '/', class: %w(home) do %>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Arrow_circled_left" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
          <path d="M10,0.4c-5.303,0-9.601,4.298-9.601,9.6c0,5.303,4.298,9.601,9.601,9.601c5.301,0,9.6-4.298,9.6-9.601  C19.6,4.698,15.301,0.4,10,0.4z M9.999,17.6c-4.197,0-7.6-3.402-7.6-7.6s3.402-7.6,7.6-7.6S17.6,5.803,17.6,10  S14.196,17.6,9.999,17.6z M10,5.5L5.5,10l4.5,4.5V12h4V8h-4V5.5z"/>
        </svg>
        Back to your blog
      <% end %>

      <div>
        <%= link_to 'Posts', admin_posts_path %>
        <%= link_to 'Tags', admin_tags_path %>
        <a>Settings</a>
      </div>

      <a class='profile'>
        <%= current_user.display_name %>
      </a>
    </nav>
    <%= main_tag 'data-style' => content_for('Content::Style') || 'plain' do %>
      <%= yield %>
    <% end %>
  <% end %>
</html>
