<!DOCTYPE html>
<html>
<head>
  <title>Ecrire</title>
  <link rel="shortcut icon" href="<%= url_for("/favicon.ico")%>" />
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, class: %W(#{action_name} #{controller_name}) do %>

  <main>
    <%= yield %>
  </main>

<% end %>
</html>
