<header id="adminHeader">
  <%= link_to "Post", posts_path %>
  <%= link_to "Back to the blog",  main_app.root_path %>
</header>

<section id="postsList">
  <header id="actions">
    <%= filter_links %>
    <%= link_to "New", new_post_path, id: "newPostLink" %>
  </header>

  <ol class="list">
    <%= decorate @posts, :overview %>
  </ol>
  <%= paginate @posts %>
</section>

<section id="postContainer">
  <header id="postOptions" class="hidden">
  </header>
</section>
