<!DOCTYPE html>
<html>
<head>
  <title>Ecrire</title>
  <link rel="shortcut icon" href="<%= url_for("/favicon.ico")%>" />
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>">

  <%= admin_navigation do %>
    <%= flash_messages %>
  <% end %>

  <%= yield %>

</body>
</html>
