<!DOCTYPE html>
<html>
<head>
  <title>Ecrire</title>
  <link rel="shortcut icon" href="<%= url_for("/favicon.ico")%>" />
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>">

  <%= admin_navigation %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, class: %W(flash #{name}) do %>
      <%= content_tag :span, msg, class: %w(message) %>
      <%= link_to("x", "javascript:void(0)", class: %w(dismiss button)) %>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
