<!DOCTYPE html>
<html>
<head>
  <title>Manage your blog</title>
  <%= stylesheet_link_tag    "admin/application", media: "all" %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, class: %W(flash #{name}) do %>
      <%= content_tag :span, msg, class: %w(message) %>
      <%= link_to("x", "javascript:void(0)", class: %w(dismiss button)) %>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
