<!DOCTYPE html>
<html>

  <head>
    <%= title_tag 'Before you start blogging...' %>
    <%= stylesheet_link_tag "ecrire", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "ecrire", "base", "data-turbolinks-track" => true %>

    <%= stylesheet_link_tag "theme", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "theme", "base", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_tag %>
  </head>

  <body>
    <%= main_tag class: 'onboarding' do %>
      <%= yield %>
    <% end %>
  </body>

</html>
