<!DOCTYPE html>
<html>

  <head>
    <%= title_tag 'Before you start blogging...' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "base", "data-turbolinks-track" => true %>

    <%= stylesheet_link_tag "theme", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "theme", "base", "data-turbolinks-track" => true %>
    <%= meta_informations_tags %>
  </head>

  <body>
    <%= main_tag class: 'onboarding' do %>
      <%= yield %>
    <% end %>
  </body>

</html>
