<div class="wrapper">
  <sidebar id="postsList" class="listing">
    <header id="actions">
      <%= filter_links %>
    </header>

    <ol class="items">
      <%= decorate @posts, :overview %>
    </ol>

    <%= paginate @posts %>

  </sidebar>

  <main id="postContainer">
    <section id="newIdea">
      <%= content_tag :h1, t('.new_idea') %>
      <%= link_to t('.start_writing'), new_admin_post_path, id: "newPostLink", class: %w(new item) %>
    </section>
  </main>
</div>
