<%= form_for post,
  builder: Admin::PostBuilder,
  html: {class: %w(post editor), id: "postEditor"} do |f| %>

  <%= hidden_field_tag :context, :content %>

  <nav class="post">
    <ol class="menu">
      <li class='active' target='content'>Content</li>
      <li target='stylesheet'>Stylesheet</li>
      <li target='javascript'>Javascript</li>
      <li class="actions">
        <%= f.action %>
      </li>
    </ol>

    <% if post.draft? %>
      <p class="status" data-saving="Saving your post...">Drafts are saved automatically</p>
    <% else %>
      <p class="status warning" data-saving="Saving your post...">Published post needs to be <strong>manually</strong> saved</p>
    <% end %>
  </nav>
  <%= f.editor %>

<% end %>

<aside class="preview">
  <%= content_tag :style, post.stylesheet.html_safe, scoped: :scoped, class: %w(stylesheet) %>
  <%= content_tag :script, post.javascript.html_safe, type: 'text/javascript', class: %w(javascript) %>
  <%= content_tag :article, post.content.html_safe, class: %w(content) %>
</aside>

<nav class="admin options">
  <%= editor_back_button(post) %>
  <%= content_tag :span, post.title, class: %w(title) %>
  <%= link_to "⚙", 'javascript:void(0)', class: %w(settings) %>

  <section class="post settings hidden">
    <%= form_for post,
      builder: Admin::PostSettingsBuilder,
      html: {class: %w(post title settings)} do |f| %>
      <%= hidden_field_tag :context, :title %>

      <%= f.notice %>
      <%= f.text_field :title, class: %w(title), autocomplete: :off %>
      <%= f.permalink %>

      <%= f.actions %>
    <% end %>


  </section>
</nav>

