<section class="labels">
  <%= form_for :label,
    html: {class: %w(labels new autosave)},
    remote: true,
    url: admin_post_properties_path(post.id) do |f| %>
    <%= hidden_field_tag :property, 'label' %>
    <%= text_field_tag :value, nil, placeholder: 'Create a new label', class: %w(name) %>
    <%= f.button %>
  <% end %>

  <div class='existing'>
    <% Label.all.each do |label| %>
      <% if post.labels.map(&:id).include?(label.id) %>
        <%= destroy_label_button(label, post) %>
      <% else %>
        <%= create_label_button(label, post) %>
      <% end %>
    <% end %>
  </div>
</section>

