<li>
  <header>
    <%= link_to post.title, edit_admin_post_path(post), class: %w(title) %>
    <%= content_tag :span, class: %w(status) do %>
      <% if post.published? %>
        Published <%= time_ago_in_words(post.published_at) %> ago
      <% else %>
        Drafted <%= time_ago_in_words(post.created_at) %> ago
      <% end %>
    <% end %>
  </header>

  <% if post.tags.any? %>
    <%= content_tag :span, class: %w(tags) do %>
      <svg class='placeholder' x="0px" y="0px" viewBox='0 0 20 20'> viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
        <path d="M18.662,5.521L5.237,19l0.707-4.967l-4.945,0.709L14.424,1.263c0.391-0.392,1.133-0.308,1.412,0l2.826,2.839
        C19.162,4.575,19.053,5.128,18.662,5.521z"/>
      </svg>
      <%= post.tags.map(&:name).join(', ') %>
    <% end %>

    <% end %>

</li>
