<nav class='options'>

  <%= content_tag :div, class: %w(publish state), href: admin_post_path(@post.id) do |div| %>

    <% if @post.published? %>

      <% div[:as] = 'Editor.Published' %>
      <div class='fieldset'>
        <%= check_box_tag 'unpublish' %>
        <%= label_tag 'unpublish', 'Remove from publication?' %>
        <%= form_for @post, method: :put, html: { class: %w(hide button destroy) } do |f| %>
          <%= f.button 'Remove from publication', value: 'unpublish'%>
        <% end %>
      </div>

    <% else %>

      <% div[:as] = 'Editor.Draft'  %>

      <%= form_for @post, method: :put, html: { class: %w(button publish) } do |f| %>
        <%= f.button 'Publish', value: 'publish'%>
      <% end %>

      <div class='fieldset'>
        <%= check_box_tag 'delete' %>
        <%= label_tag 'delete', 'Delete this post?' %>
        <%= button_to 'Delete this post', @post, method: :delete, form_class: %w(hide destroy button) %>
      </div>

    <% end %>

  <% end %>

  <span class='toggle' as='Navigation.Toggle'></span>

  <div class='save'>
    <%= form_for @post, method: :put, remote: true, html: {class: %w(save button)} do |f| %>
      <%= f.button '', dirty: 'Save', persisted: 'Saved', as: 'Editor.Save', disabled: true %>
    <% end %>
  </div>
</nav>

<header>
  <%= form_for @post,
    as: 'post',
    remote: true,
    html: {as: 'Posts.Title', class: %w(post title settings autosave)} do |f| %>
    <%= hidden_field_tag :context, :title %>

    <%= f.text_field :title, class: %w(title), autocomplete: :off %>
  <% end %>

  <div class='tags'>
  </div>
</header>

<div class='messages' as="Editor.Messages">
</div>

<section>
  <%= content_tag :div, id: 'PostBody', class: %w(content), as: 'Editor.Content', contenteditable: true, href: admin_post_path(@post.id) do %>
    <%= @post.content %>
  <% end %>
</section>
