<%= content_tag :header, as: "Post.Header", href: admin_post_image_path(@post), method: 'POST' do |header| %>
  <template for='Post.Header'>
    <%= render 'admin/posts/header/dropping', css: %w(status dropping hidden) %>
    <%= render 'admin/posts/header/uploading', css: %w(status uploading hidden) %>
    <%= render 'admin/posts/header/error', css: %w(status error hidden) %>
  </template>

  <% if @post.header? %>
    <% header[:style] = "background-image: url(#{@post.header.url});" %>
  <% end %>
  <div class='drop'>
  </div>

  <div class='title'>

    <%= content_tag :svg,
      method: 'DELETE',
      href: admin_post_image_path(@post),
      class: %w(clear),
      version: "1.1",
      xmlns: "http://www.w3.org/2000/svg",
      'xmlns:xlink' => "http://www.w3.org/1999/xlink",
      x: "0px",
      y: "0px",
      viewBox: "0 0 20 20",
      'enable-background' => "new 0 0 20 20",
      'xml:space' => "preserve" do |svg| %>

      <% if !@post.header? %>
        <% svg.css << 'hidden' %>
      <% end %>

        <path d="M16,2H4C2.9,2,2,2.9,2,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C18,2.9,17.1,2,16,2z M13.061,14.789L10,11.729
    	   l-3.061,3.06l-1.729-1.728L8.271,10L5.211,6.939l1.729-1.729L10,8.271l3.059-3.061l1.729,1.729L11.729,10l3.06,3.061L13.061,14.789z
    	    "/>
    <% end %>

    <%= link_to @post.title, admin_post_titles_path(@post), class: %w(title) %>
    <input type='file' />
    <p class='browse'>Set a header image. Either <strong>drop</strong> an image here or <strong>select an image</strong>.</p>
  </div>

  <nav class='actions'>
    <button class='button' as='Editor.Save'>
      Save
      <template for='Editor.Save'>
        <%= content_tag :div, as: 'Editor.Save.Dialog', id: 'SavePost', href: admin_post_path(@post), method: 'PUT' do %>
          <div class='progress'></div>
          <p class='message'>
            Saving...
          </p>
        <% end %>
      </template>
    </button>

    <%= content_tag :div, class: %w(publish state), href: admin_post_toggle_path(@post), method: :put, published: @post.published?, as: 'Post.Publish' do %>
      <label>Published</label>
      <label>Draft</label>
    <% end %>
  </nav>
<% end %>

<section>

  <%= edit_content_tag(@post) do %>
    <%= h @post.content %>
  <% end %>
  
  <div class='done'>
    <h6>Done?</h6>
    <p><%= link_to 'Look at the preview and publish it!', admin_post_path(@post) %></p>
  </div>

</section>

<template id='EditorElements'>
  <figure as='Editor.Image'><template for='Editor.Image' contenteditable=false><p class='placeholder'>Drop an image or click here to upload a picture.</p><img><div class='progressbar'><span class='progress'></span></div></template><div contenteditable=false><input type='file' /></div><figcaption></figcaption></figure></template>

<svg id="Help" viewBox="0 0 20 20" enable-background="new 0 0 20 20">
<path d="M10,0.4c-5.302,0-9.6,4.298-9.6,9.6s4.298,9.6,9.6,9.6c5.301,0,9.6-4.298,9.6-9.601C19.6,4.698,15.301,0.4,10,0.4z
	 M9.849,15.599H9.798c-0.782-0.023-1.334-0.6-1.311-1.371c0.022-0.758,0.587-1.309,1.343-1.309l0.046,0.002
	c0.804,0.023,1.35,0.594,1.327,1.387C11.18,15.068,10.625,15.599,9.849,15.599z M13.14,9.068c-0.184,0.26-0.588,0.586-1.098,0.983
	l-0.562,0.387c-0.308,0.24-0.494,0.467-0.563,0.688c-0.056,0.174-0.082,0.221-0.087,0.576v0.09H8.685l0.006-0.182
	c0.027-0.744,0.045-1.184,0.354-1.547c0.485-0.568,1.555-1.258,1.6-1.287c0.154-0.115,0.283-0.246,0.379-0.387
	c0.225-0.311,0.324-0.555,0.324-0.793c0-0.334-0.098-0.643-0.293-0.916c-0.188-0.266-0.545-0.398-1.061-0.398
	c-0.512,0-0.863,0.162-1.072,0.496c-0.216,0.341-0.325,0.7-0.325,1.067v0.092H6.386L6.39,7.841c0.057-1.353,0.541-2.328,1.435-2.897
	C8.388,4.583,9.089,4.4,9.906,4.4c1.068,0,1.972,0.26,2.682,0.772c0.721,0.519,1.086,1.297,1.086,2.311
	C13.673,8.05,13.494,8.583,13.14,9.068z"/>
</svg>
