<%= render 'navigation' %>

<header>
  <%= form_for @post,
    as: 'post',
    remote: true,
    html: {as: 'Posts.Title', class: %w(post title settings autosave)} do |f| %>
    <%= hidden_field_tag :context, :title %>

    <%= f.text_field :title, class: %w(title), autocomplete: :off %>
  <% end %>

  <div class='tags'>
  </div>
</header>

<div class='messages' as="Editor.Messages">
</div>

<section>

  <div class='publish'>
  </div>

  <article>
    <%= content_tag :header, as: "Post.Header" do |header| %>
      <% if @post.header? %>
        <% header[:style] = "background-image: url(#{@post.header.url});" %>
      <% end %>

      <%= render 'admin/images/form', post: @post %>
    <% end %>

    <%= post_edit_content(@post) %>
  </article>

  <div class='save'>
    <%= form_for @post, method: :put, remote: true, html: {as: 'Editor.Save', class: %w(save button)} do |f| %>
      <%= f.button '', dirty: 'Update', persisted: 'Up to date', disabled: true %>
      <%= content_tag :div, class: %w(update) do %>
        Last updated
        <%= content_tag :p, nil, time: @post.updated_at.iso8601 %>
      <% end %>
    <% end %>
  </div>

</section>
