<%= render 'navigation' %>

<header>
  <%= form_for @post,
    as: 'post',
    remote: true,
    html: {as: 'Posts.Title', class: %w(post title settings autosave)} do |f| %>
    <%= hidden_field_tag :context, :title %>

    <%= f.text_field :title, class: %w(title), autocomplete: :off %>
  <% end %>

  <div class='tags'>
  </div>
</header>

<div class='messages' as="Editor.Messages">
</div>

<section>

  <%= content_tag :header, as: "Post.Header" do |header| %>
    <% if @post.header? %>
      <% header[:style] = "background-image: url(#{@post.header.url});" %>
    <% end %>

    <%= render 'admin/images/form', post: @post %>
  <% end %>

  <%= post_edit_content(@post) %>

</section>
