<nav class='tools'>
  <div>
  </div>

  <span class='toggle' as='Navigation.Toggle'></span>

  <div>
    <%= content_tag :button, "Save", as: 'Editor.Save', href: admin_post_path(id: @post.id) %>
  </div>
</nav>

<header>
  <%= form_for @post,
    remote: true,
    html: {as: 'Posts.Title', class: %w(post title settings autosave)} do |f| %>
    <%= hidden_field_tag :context, :title %>

    <%= f.text_field :title, class: %w(title), autocomplete: :off, as: 'Posts.Title.TextArea' %>
  <% end %>
</header>

<section>
  <%= content_tag :div, class: %w(content), as: 'Editor.Content', contenteditable: true, href: admin_post_path(@post.id) do %>
    <%= @post.content %>
  <% end %>
</section>
