<% content_for :class, 'post view' %>

<%= content_tag :header do |header| %>
  <nav>
    <div class='meta'>
      <%= link_to 'Edit', edit_admin_post_path(@post), class: %w(button) %>
      <%= link_to 'Preview', admin_post_path(@post), class: %w(selected button) %>
      <%= link_to 'Tags', admin_post_tags_path(@post), class: %w(button) %>
      <%= link_to 'Title', admin_post_titles_path(@post), class: %w(button) %>
    </div>

    <%= content_tag :div, class: %w(publish state), href: admin_post_toggle_path(@post), method: :put, published: @post.published?, as: 'Post.Publish' do %>
      <label>Published</label>
      <label>Draft</label>
    <% end %>
  </nav>

  <%= content_tag :h2, @post.title %>

  <% if @post.header? %>
    <% header[:style] = "background-image: url(#{@post.header.url});" %>
  <% end %>
<% end %>

<section class='preview'>
  <%= content_tag :article, @post.compiled_content.try(:html_safe) %>
<section>
