<h1>Ecrire</h1>
<section as="Database.Information">
  <div class="terminal">
    <code class="language-sql">$ psql -d postgres</code>

    <code class="language-sql">> CREATE USER <%= content_tag :span, user[:name], class: %w(user) %> WITH PASSWORD '<%= content_tag :span, user[:password], class: %w(password) %>';</code>

    <code class="language-sql">> CREATE DATABASE <%= content_tag :span, db_name, class: %w(name) %>;</code>

    <code class="language-sql">> GRANT ALL PRIVILEGES ON DATABASE <%= db_name %> to <%= content_tag :span, user[:name], class: %w(user) %>;</code>
  </div>


  <%= form_tag onboarding_databases_path, method: :post, remote: true, as: 'Databases.Connect' do %>

    <h2>Connect to your postgresql database</h2>

    <%= text_field_tag 'database[name]', db_name, placeholder: "Database name", class: %w(name) %>
    <%= text_field_tag 'database[user]', user[:name], placeholder: "Database user", class: %w(user) %>
    <%= text_field_tag 'database[password]', user[:password], placeholder: "Database password", class: %w(password) %>

    <%= button_tag 'Connect', value: 'connect' %>
  <% end %>
</section>
