<main class="databases">
  <aside>
    <h1>Ecrire</h1>
    <ol>
      <li class="current">Configure postgresql</li>
      <li>Create a user</li>
    </ol>
  </aside>

  <section>
    <h2>Configure Postgresql</h2>

    <div class="terminal">
      <p>Start by launching postgresql command line environment:</p>
      <code class="language-sql">$ psql</code>

      <p>Replace all $variables with your own information. Start by creating a user:</p>

      <code class="language-sql">> CREATE USER <%= user[:name] %> WITH PASSWORD '<%= user[:password] %>';</code>

      <p>Create a database for ecrire to use:</p>
      <code class="language-sql">> CREATE DATABASE <%= db_name %>;</code>

      <p>Grant all privileges to your user so ecrire can use both together:</p>
      <code class="language-sql">> GRANT ALL PRIVILEGES ON DATABASE <%= db_name %> to <%= user[:name] %>;</code>
    </div>

    <h2>Connect to your database</h2>

    <%= form_tag onboarding_databases_path, method: :post do %>
      <% unless @exception.nil? %>
        <div class="error">
          <%= content_tag :p, @exception %>
        </div>
      <% end %>

      <%= text_field_tag 'database[name]', db_name, placeholder: "$ecrire_database" %>
      <%= text_field_tag 'database[user]', user[:name], placeholder: "$user" %>
      <%= text_field_tag 'database[password]', user[:password], placeholder: "$password" %>

      <%= button_tag 'Connect to your database', value: 'connect' %>
    <% end %>
  </section>
</main>
