<% content_for :class, 'posts view' %>
<header>
  <%= content_tag :h2, @post.title %>
  <nav>
    <div class='meta'>
      <%= link_to 'Preview', admin_post_path(@post) %>
      <%= link_to 'Tags', admin_post_tags_path(@post), class: %w(selected) %>
      <%= link_to 'Title', admin_post_titles_path(@post) %>
    </div>

    <%= content_tag :div, class: %w(publish state), href: admin_post_toggle_path(@post), method: :put, published: @post.published?, as: 'Post.Publish' do %>
      <label>Published</label>
      <label>Draft</label>
    <% end %>

  </nav>
</header>

<section>
  <svg version="1.1" class="tag icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
    <path d="M18.662,5.521L5.237,19l0.707-4.967l-4.945,0.709L14.424,1.263c0.391-0.392,1.133-0.308,1.412,0l2.826,2.839 C19.162,4.575,19.053,5.128,18.662,5.521z"/>
  </svg>

  <p>Want to add a new tag? <%= link_to 'Manage your tags.', admin_tags_path %></p>

  <ul>
    <% @tags.each do |tag| %>
      <%= render 'admin/posts/tags/tag', tag: tag %>
    <% end %>
  </ul>
</section>
