<!doctype html>
<html>

  <head>
    <%= title_tag %>
    <%= csrf_meta_tags %>
    <%= assets_tags %>
    <%= description_meta_tag %>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed">
  </head>

  <%= body_tag do %>
    <main>
      <%= admin_navigation %>
      <%= yield %>
    </main>
  <% end %>

</html>


