<!doctype html>
<html>

  <head>
    <%= title_tag %>
    <%= assets_tags %>
    <%= meta_informations_tags %>
  </head>

  <%= body_tag do %>

    <main>
      <%= admin_navigation %>
      <header>
        <h1><%= link_to 'E', :root %></h1>
        <nav>
          <%= link_to 'Customize', '/customize' %>
          <%= link_to 'Going live', '/live' %>
          <%= link_to 'Deploy to Heroku', '/heroku' %>
        </nav>
      </header>

      <article>
        <%= yield %>
      </article>

      <footer>
      </footer>
    </main>

  <% end %>
</html>


