<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>pothibo's blog</title>
    <description>Ruby on rails, Javascript and development stories</description>
    <link>http://pothibo.com</link>
    <lastBuildDate><%= @posts.first.published_at %></lastBuildDate>
    <ttl>86400</ttl>

     
    <% @posts.each do |post| %>
      <item>
      <%= content_tag :title, post.title %>
      <%= content_tag :description, post.content %>
      <%= content_tag :link, post_path(year: post.published_at.year, month: l(post.published_at, format: "%m"), id: post.slug, only_path: false) %>
      <%= content_tag :guid, post.slug %>
      <%= content_tag :pubDate, l(post.published_at, format: :long) %>
      </item>
    <% end %>
  </channel>
</rss>
