<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", "splits", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>-<%= action_name %>">
  <% if signed_in? %>
    <%= admin_access_bar %>
  <% end %>

  <%= yield %>

</body>
</html>
