<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <%= link_to t(".admin"), admin.root_path %>
    <%= button_to "logout", session_path, method: :delete %>
  <% end %>

  <%= yield %>

</body>
</html>
