<% if title.persisted? %>
  <% url = admin_post_title_path(post, post.titles.first) %>
<% else %>
  <% url = admin_post_titles_path(post) %>
<% end %>

<%= form_for title, url: url, as: :title, remote: request.xhr?, html: { id: 'TitleForm', class: %w(title form), as: 'Post.Titles' } do |form| %>

  <h2>Change title</h2>

  <% if title.errors.any? %>
    <%= content_tag :div, title.errors.full_messages.to_sentence, class: %w(errors) %>
  <% end %>

  <div class='fieldset title'>
    <%= form.text_field :name, placeholder: 'New title for this post', tabindex: 1, autocomplete: :off %>
  </div>

  <div class='fieldset actions'>
    <% unless title.persisted? %>
      <p>The old URLS will be <strong>redirected</strong> to this new title.</p>
    <% end %>
    <%= form.button 'Change title' %>
  </div>

  <% if (titles = post.titles.where.not(id: [post.title.id])).size > 0 %>
    <ul class='titles'>
      <h3>Previous titles</h3>
      <%= render partial: 'admin/posts/titles/title', collection: titles, as: :title %>
    </ul>
  <% end %>

<% end %>

